* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Red Hat Display", sans-serif;
	min-height: 100vh;
	line-height: 26px;
	width: 100%;
}

.container {
	margin: 0 auto;
	overflow: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 375px;
}

header {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(100px, 1fr)) 1fr;
	grid-template-rows: auto;
	width: 100%;
	align-items: center;
}

.logo {
	grid-column: 2/-2;
	grid-row: 1/1;
	justify-self: center;
	margin-top: 52px;
	margin-bottom: 47px;
}

.left-side {
	grid-column: 1/3;
	grid-row: 2/2;
	justify-self: end;
	display: flex;
	justify-content: space-around;
	position: relative;
	min-height: 188px;
	height: 100%;
	gap: 16px;
	right: 10px;
	align-items: flex-start;
}

.right-side {
	grid-column: 3/-1;
	grid-row: 2/2;
	justify-self: start;
	position: relative;
	align-self: end;
	display: flex;
	justify-content: space-around;
	min-height: 188px;
	height: 100%;
	gap: 16px;
	left: 10px;
	align-items: flex-start;
}

.avatar-group-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	row-gap: 0.5em;
}

.avatar-group-1.down-left {
	position: relative;
	top: 20px;
	left: 0;
}

.avatar-group-1.down-right {
	position: relative;
	top: 20px;
	right: 0;
}

.avatar {
	margin: 0;
	padding: 0;
	min-width: 56px;
	width: 100%;
	min-height: 56px;
	height: 100%;
}

.avatar img {
	border-radius: 50%;
	width: 100%;
	height: auto;
	min-height: 54px;
	min-width: 56px;
}

.up-text {
	grid-column: 1/-1;
	grid-row: 3/3;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.up-text h1 {
	padding: 0 42px 0 42px;
	text-align: center;
	line-height: 44px;
	font-size: 40px;
	font-weight: 900;
	font-family: Red Hat Display;
	font-style: normal;
	margin-bottom: 18px;
}

.up-text p {
	text-align: center;
	color: rgb(135, 135, 157);
	font-size: 16px;
	line-height: 26px;
	width: 88%;
	margin-bottom: 32px;
}

.download-btn {
	background: rgb(77, 150, 169);
	font-size: 16px;
	margin-bottom: 16px;
	padding: 20px;
	color: white;
	border-radius: 29px;
	border: none;
	width: 193px;
	height: 58px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	line-height: 26px;
	font-family: "Red Hat Display", sans-serif;
	padding: 0;
}

.download-btn:hover {
	background: rgb(113, 192, 212);
}

.download-btn span {
	color: rgb(143, 227, 249);
}

.violet-btn {
	background: rgb(133, 95, 177);
	font-size: 16px;
	color: white;
	padding: 20px;
	border-radius: 29px;
	width: 139px;
	height: 58px;
	font-family: "Red Hat Display", sans-serif;
	padding: 0;
	border: none;
	margin-bottom: 64px;
}

.violet-btn:hover {
	background: rgb(177, 139, 221);
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-01 {
	background: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid rgba(135, 135, 157, 0.25);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	box-sizing: border-box;
	font-family: Red Hat Display;
	font-size: 16px;
	margin-top: 85px;
	margin-bottom: 64px;
}

.button-01 p {
	color: rgb(135, 135, 157);
	font-size: 16px;
	font-weight: 900;
}

.button-01::before {
	content: "";
	position: absolute;
	mix-blend-mode: normal;
	height: 84px;
	background: rgb(135, 135, 157);
	bottom: 55px;
	opacity: 0.25;
	border: 1px solid #87879d;
}

.grid-pictures {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 22px;
	padding: 0 24px 0 24px;
	margin-bottom: 64px;
}

.top-left,
.bottom-left,
.top-right,
.bottom-right {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.top-left > img,
.bottom-left > img,
.top-right > img,
.bottom-right > img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

.down-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 573px;
	margin-bottom: 180px;
}

.down-text h2 {
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: rgb(77, 150, 169);
	font-weight: 900;
	margin-bottom: 24px;
}

.down-text h1 {
	font-weight: 900;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: rgb(40, 40, 61);
	width: 80%;
	margin-bottom: 32px;
}

.down-text p {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	padding: 0 25px 0 25px;
	text-align: center;
	color: #87879d;
}

.bottom-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(77, 150, 169);
	position: relative;
	height: 426px;
	width: 100%;
}

.bottom-card::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url(../mobile/image-footer.jpg);
	opacity: 0.1;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: center;
}

.bottom-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-card h1 {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fafafa;
	margin-top: 23px;
	margin-bottom: 24px;
}

.bottom-card p {
	position: relative;
	z-index: 1;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #fafafa;
	margin-bottom: 35px;
	padding: 0 30px 0 30px;
}

.button-02 {
	position: absolute;
	top: -79px;
	background: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid rgba(135, 135, 157, 0.25);
	box-sizing: border-box;
	font-family: Red Hat Display;
	font-size: 16px;
	margin-top: 50px;
	z-index: 1;
}

.button-02 span {
	font-size: 16px;
	font-weight: 900;
	color: #5b5bc6;
}

.button-02::before {
	content: "";
	position: absolute;
	mix-blend-mode: normal;
	height: 84px;
	background: rgb(135, 135, 157);
	bottom: 55px;
	opacity: 0.25;
	border: 1px solid #87879d;
}

.download-btn-violet {
	position: relative;
	z-index: 1;
	background: rgb(133, 95, 177);
	font-size: 16px;

	padding: 20px;
	color: white;
	border-radius: 29px;
	border: none;
	width: 193px;
	height: 58px;
	line-height: 26px;
	font-family: "Red Hat Display";
	font-style: normal;
	padding: 0;
	font-weight: 900;
}

.download-btn-violet:hover {
	background: rgb(177, 139, 221);
}

.download-btn-violet span {
	color: rgb(217, 184, 255);
}

@media only screen and (min-width: 400px) {
	.card {
		width: 100%;
		max-width: 768px;
	}

	.avatar img {
		width: 100%;
		height: auto;
		max-width: 110px;
		max-height: 110px;
	}

	/* .up-text {
		grid-column: 2/-2;
	} */
}

@media screen and (min-width: 768px) {
	header {
		justify-items: center;
		justify-content: center;
	}

	.logo {
		margin-top: 48px;
		margin-bottom: 64px;
	}

	.left-side {
		right: 16px;
	}

	.right-side {
		left: 16px;
	}

	.left-side,
	.right-side {
		gap: 32px;
	}

	.avatar img {
		width: 110px;
		height: 110px;
	}

	.avatar-group-1 {
		row-gap: 26px;
	}

	.avatar-group-1.down-left,
	.avatar-group-1.down-right {
		top: 50px;
	}

	.up-text {
		margin-top: 105px;
		margin-bottom: 72px;
	}

	.up-text h1 {
		font-size: 48px;
		line-height: 48px;
		padding: 0;
		margin-bottom: 24px;
	}

	.up-text p {
		width: 457px;
		margin-bottom: 24px;
	}

	.buttons {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.download-btn {
		margin: 0.5em;
		filter: none;
	}

	.violet-btn {
		margin: 0.5em;
	}

	.button-01 {
		margin-bottom: 75px;
		filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
	}

	.grid-pictures {
		display: flex;
		justify-content: space-evenly;
		gap: 11px;
		padding: 0 40px 0 40px;
		margin-bottom: 48px;
	}

	.down-text {
		margin-bottom: 3px;
	}

	.down-text h2 {
		margin-bottom: 16px;
	}

	.down-text h1 {
		width: 445px;
		font-size: 40px;
		line-height: 44px;
	}

	.down-text p {
		width: 573px;
		padding: 0;
	}

	.bottom-card {
		margin-top: 10em;
	}

	.bottom-card::before {
		background-image: url(../tablet/image-footer.jpg);
	}

	.bottom-card h1 {
		display: inline-block;
		width: 457px;
		margin-bottom: 32px;
		margin-top: 30px;
		font-size: 40px;
		line-height: 44px;
	}

	.bottom-card p {
		display: inline-block;
		width: 573px;
		padding: 0;
		margin-bottom: 40px;
	}

	.download-btn-violet {
		margin: 0;
	}

	@media screen and (min-width: 1440px) {
		.card {
			width: 100%;
			max-width: 1440px;
		}

		.logo {
			margin-top: 80px;
			margin-bottom: 61px;
		}

		.left-side {
			grid-column: 1/2;
			justify-self: baseline;
			left: -10%;
			align-self: start;
		}

		.right-side {
			grid-column: 4/4;

			left: 7%;
			align-self: start;
		}

		.up-text {
			grid-column: 1/-1;
			grid-row: 2/2;
			margin: 0;
			width: 540px;
			margin-bottom: 117px;
		}

		.up-text h1 {
			width: 445px;
			font-size: 64px;
			line-height: 64px;
			margin-bottom: 34px;
		}

		.up-text p {
			font-size: 18px;
			width: 540px;
			margin-bottom: 32px;
		}

		.avatar img {
			min-width: 110px;
			min-height: 110px;
		}

		.button-01 {
			margin-bottom: 64px;
		}

		.grid-pictures {
			width: 1110px;
			padding: 0;
			gap: 30px;
			margin-bottom: 80px;
		}

		.down-text p {
			font-size: 18px;
			width: 540px;
		}

		.bottom-card {
			align-items: center;
			justify-content: center;
			margin-top: 184px;
			width: 100%;
			height: 0;
			padding-top: 21.38%;
		}

		.bottom-content {
			flex-direction: row;
			position: absolute;
			bottom: 110px;
		}

		.bottom-card h1 {
			width: 350px;
			text-align: left;
			margin: 0;
			margin-right: 125px;
		}

		.bottom-card p {
			width: 350px;
			text-align: left;
			margin: 0;
			margin-right: 92px;
		}

		.bottom-card::before {
			background-image: url(../desktop/image-footer.jpg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
