@use "_variables" as *;
@use "_media-query" as *;

.button-01 {
	background: $button02Color;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid rgba(135, 135, 157, 0.25);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	box-sizing: border-box;
	font-family: $primaryFont;
	font-size: 16px;
	margin-top: 85px;
	margin-bottom: 64px;
	&::before {
		content: "";
		position: absolute;
		mix-blend-mode: normal;
		height: 84px;
		background: $greyishColor;
		bottom: 55px;
		opacity: 0.25;
		border: 1px solid $paragrafColor;
	}

	p {
		color: $greyishColor;
		font-size: 16px;
		font-weight: 900;
	}

	@include screen-min($tablet-width) {
		margin-bottom: 75px;
		filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
	}

	@include screen-min($desktop-width) {
		margin-bottom: 64px;
	}
}