@use "_variables" as *;
@use "_media-query" as *;

.bottom-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $dwnBtnPrimaryColor;
	position: relative;
	height: 426px;
	width: 100%;
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-image: url(../../mobile/image-footer.jpg);
		opacity: 0.1;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-x: center;

		@include screen-min($tablet-width) {
			background-image: url(../../tablet/image-footer.jpg);
		}

		@include screen-min($desktop-width) {
			background-image: url(../../desktop/image-footer.jpg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	@include screen-min($tablet-width) {
		margin-top: 10em;
	}

	@include screen-min($desktop-width) {
		align-items: center;
		justify-content: center;
		margin-top: 184px;
		width: 100%;
		height: 0;
		padding-top: 21.38%;
	}

	.button-02 {
		position: absolute;
		top: -79px;
		background: $button02Color;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		border: 1px solid $border01Color;
		box-sizing: border-box;
		font-family: $primaryFont;
		font-size: 16px;
		margin-top: 50px;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			mix-blend-mode: normal;
			height: 84px;
			background: $greyishColor;
			bottom: 55px;
			opacity: 0.25;
			border: 1px solid $greyishColor;
		}

		a {
			font-size: 16px;
			font-weight: 900;
			color: $greyishColor;
			text-decoration: none;
		}
	}

	.bottom-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include screen-min($desktop-width) {
			flex-direction: row;
			position: absolute;
			bottom: 110px;
		}

		h1 {
			font-style: normal;
			font-weight: 900;
			font-size: 32px;
			line-height: 36px;
			text-align: center;
			position: relative;
			z-index: 1;
			color: $button02Color;
			margin-top: 23px;
			margin-bottom: 24px;

			@include screen-min($tablet-width) {
				display: inline-block;
				width: 457px;
				margin-bottom: 32px;
				margin-top: 30px;
				font-size: 40px;
				line-height: 44px;
			}

			@include screen-min($desktop-width) {
				width: 350px;
				text-align: left;
				margin: 0;
				margin-right: 125px;
			}
		}

		p {
			position: relative;
			z-index: 1;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			text-align: center;
			color: $button02Color;
			margin-bottom: 35px;
			padding: 0 30px 0 30px;

			@include screen-min($tablet-width) {
				display: inline-block;
				width: 573px;
				padding: 0;
				margin-bottom: 40px;
			}

			@include screen-min($desktop-width) {
				width: 350px;
				text-align: left;
				margin: 0;
				margin-right: 92px;
			}
		}

		.download-btn-violet {
			position: relative;
			z-index: 1;
			background: $whatIsBtnPrimaryColor;
			font-size: 16px;
			padding: 20px;
			color: $button02Color;
			border-radius: 29px;
			border: none;
			width: 193px;
			height: 58px;
			line-height: 26px;
			font-family: $primaryFont;
			font-style: normal;
			padding: 0;
			font-weight: 900;

			span {
				color: $violetBtnSpanColor;
			}

			@include screen-min($tablet-width) {
				margin: 0;
			}

			@include screen-min($desktop-width) {
				&:hover {
					background: $whatIsBtnHoverColor;
					cursor: pointer;
				}
				&:active {
					background: $whatIsBtnPrimaryColor;
				}
			}
		}
	}
}
