$primaryFont: "Red Hat Display", sans-serif;
$dwnBtnPrimaryColor: rgb(77, 150, 169);
$dwnBtnHoverColor: rgb(113, 192, 212);
$dwnBrnSpanColor: rgb(143, 227, 249);
$whatIsBtnPrimaryColor:rgb(133, 95, 177);
$whatIsBtnHoverColor: rgb(177, 139, 221);
$violetBtnSpanColor: rgb(217, 184, 255);
$greyishColor: rgb(135, 135, 157);
$paragrafColor: #87879d;
$button02Color: #fafafa;
$button02SpanColor: #5b5bc6;