$primaryFont: "Red Hat Display", sans-serif;
$dwnBtnPrimaryColor: #4D96A9;
$dwnBtnHoverColor: #71C0D4;
$dwnBrnSpanColor: #8FE3F9;
$blackishTextColor:#28283D;
$whatIsBtnPrimaryColor:#855FB1;
$whatIsBtnHoverColor: #B18BDD;
$violetBtnSpanColor: #D9B8FF;
$greyishColor: #87879D;
$button02Color: #fafafa;
$button02SpanColor: #5b5bc6;
$border01Color: rgba(135, 135, 157, 0.25);
$shadowColor: rgba(0, 0, 0, 0.25);